{% extends "base.html" %}
{% block title %}Job Profile - {% endblock %}
{% block head %}
    {{ super() }}
{#    Put additional head code here #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/job-profile/styles.css">
{% endblock %}
{% block content %}
{#    Put body code here #}
    <div class="top-bar">
{#        <button type="button" class="btn btn-apply btn-lg">Apply Now</button>#}
    </div>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <a href="/company"><img class="rounded-circle" src="/static/img/agoda.png" alt="Company logo" width="100" height="100"></a>
                <h1 class="name"><a href="/company">Agoda Services Co., Ltd.</a></h1>
{#                <h3 class="tagline"><a href="/company">View company profile >></a></h3>#}
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><a href="mailto: yourname@email.com"><i class="fa fa-envelope"></i>apply@agoda.com</a></li>
                    <li class="phone"><a href="tel:0123 456 789"><i class="fa fa-phone"></i>0123456789</a></li>
                    <li class="website"><a href="http://careersatagoda.com" target="_blank"><i class="fa fa-globe"></i>Company Website</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="apply" align="left">
                <button type="button" class="btn btn-success btn-lg">Apply Now</button>
                <br>
                <p class="applytag">Your resume will be sent to the recruiter right away!</p>
            </div>
        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <h2 class="section-title">Senior Mobile API Developer</h2>
            <p>Application Period: Mar 17, 2018 to Apr 14, 2018</p>
            <br>
                <embed class="job-description" src= "/static/job/job-example.pdf">
{#            <embed class="job-description" src= "/static/job/job-example2.jpg">#}
{#            <section class="section summary-section">#}
{#                <h2 class="section-title">Description</h2>#}
{#                <div class="summary">#}
{#                    <p>We are looking for engineers who love and understand .NET stack and seek the challenge of using cutting edge technologies to create a robust, scalable, and blazing-fast API. You will be expected to deliver high quality, well-designed, and thoroughly tested code within tight time constraints; so a solid understanding of OO design principles and modern testing practices will be crucial. You are expected to be fluent at explaining and justifying your decisions. Expertise in distributed platforms (like Hadoop, Cassandra, etc) is a major plus, but we expect candidates to be able to master these and many other technologies as we go.</p>#}
{#                </div><!--//summary-->#}
{#            </section><!--//section-->#}
{##}
{#            <section class="section experiences-section">#}
{#                <h2 class="section-title">Qualification</h2>#}
{##}
{#                <div class="item">#}
{#                    <div class="meta">#}
{#                        <div class="upper-row">#}
{#                            <h3 class="job-title">Lead Developer</h3>#}
{#                            <div class="time">2015 - Present</div>#}
{#                        </div><!--//upper-row-->#}
{#                        <div class="company">Startup Hubs, San Francisco</div>#}
{#                    </div><!--//meta-->#}
{#                    <div class="details">#}
{#                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>#}
{#                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>#}
{#                    </div><!--//details-->#}
{#                </div><!--//item-->#}
{##}
{#                <div class="item">#}
{#                    <div class="meta">#}
{#                        <div class="upper-row">#}
{#                            <h3 class="job-title">Senior Software Engineer</h3>#}
{#                            <div class="time">2014 - 2015</div>#}
{#                        </div><!--//upper-row-->#}
{#                        <div class="company">Google, London</div>#}
{#                    </div><!--//meta-->#}
{#                    <div class="details">#}
{#                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>#}
{##}
{#                    </div><!--//details-->#}
{#                </div><!--//item-->#}
{##}
{#                <div class="item">#}
{#                    <div class="meta">#}
{#                        <div class="upper-row">#}
{#                            <h3 class="job-title">UI Developer</h3>#}
{#                            <div class="time">2012 - 2014</div>#}
{#                        </div><!--//upper-row-->#}
{#                        <div class="company">Amazon, London</div>#}
{#                    </div><!--//meta-->#}
{#                    <div class="details">#}
{#                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>#}
{#                    </div><!--//details-->#}
{#                </div><!--//item-->#}
{##}
{#            </section><!--//section-->#}
{##}
{#            <section class="section projects-section">#}
{#                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>#}
{#                <div class="intro">#}
{#                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>#}
{#                </div><!--//intro-->#}
{#                <div class="item">#}
{#                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>#}
{##}
{#                </div><!--//item-->#}
{#                <div class="item">#}
{#                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -#}
{#                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>#}
{#                </div><!--//item-->#}
{#                <div class="item">#}
{#                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>#}
{#                </div><!--//item-->#}
{#                <div class="item">#}
{#                    <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>#}
{#                </div><!--//item-->#}
{#                <div class="item">#}
{#                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>#}
{#                </div><!--//item-->#}
{#            </section><!--//section-->#}


        </div><!--//main-body-->
    </div>
{% endblock %}