{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
          <style>


      </style>
{% endblock %}
{% block content %}

    <div class="col-md-10">
          <div class="row">
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/kane.jpg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
              <div class="col-sm-3">
              <img alt="Bootstrap Image Preview" src="/static/img/dummy.jpeg/" class="img-circle" height="130" width="130">
              <h2>
                Heading
              </h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <p>
                <a class="btn" href="#">View details »</a>
              </p>
            </div>
          </div>


        </div>
    <div class="text-center">
          <ul class="pagination">
            <li>
              <a href="#">Prev</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
        </div>
{% endblock %}